#bg-poster{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0px);
    transform: scale(0.85);
    z-index: -2;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bg-active #bg-poster {
    opacity: 1; /* 讓背景圖片從透明變為完全不透明 (觸發淡入) */
}

body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.fade-in-content {
    animation: fadeInStyle 1.5s ease-in-out forwards;
}

@keyframes fadeInStyle {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    text-align: center;
    background-color: #2f2f2f;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 350px;
}

.filter-section{
    margin-bottom: 25px;
}

select{
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #444;
    color: white;
    border: 1px solid #666;
    cursor: pointer;
}

#spin-btn{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #da9498;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.2s;
}

#spin-btn:hover{
    background-color: #b80710;
}

#spin-btn:disabled{
    background-color: #555;
    cursor: not-allowed;
}

.slot-machine-window{
    height: 100px;
    overflow: hidden;
    border: 3px solid #ffcc00;
    border-radius: 8px;
    background-color: #000000;
    margin-bottom: 25px;
    position: relative;
}

.slot-track{
    display: flex;
    flex-direction: column;
    transform: translateY(0);
}

.slot-item{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.spinning{
    animation: slotSpin 2s cubic-bezier(0.1, 0.8, 0.1, 1) forwards;
}

@keyframes slotSpin{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-1900px);
    }
}